In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('/content/filtered_weather_data1 (1).csv')
df2 = pd.read_csv('/content/filtered_weather_data2 (1).csv')
df3 = pd.read_csv('/content/filtered_weather_data3 (1).csv')
df4 = pd.read_csv('/content/filtered_weather_data4 (1).csv')
df5 = pd.read_csv('/content/filtered_weather_data5 (1).csv')
df6 = pd.read_csv('/content/filtered_weather_data6 (1).csv')
df7 = pd.read_csv('/content/filtered_weather_data7 (1).csv')
df8 = pd.read_csv('/content/filtered_weather_data8 (1).csv')
df9 = pd.read_csv('/content/filtered_weather_data9 (1).csv')
df10 = pd.read_csv('/content/filtered_weather_data10 (1).csv')
df11 = pd.read_csv('/content/filtered_weather_data11 (1).csv')
df12 = pd.read_csv('/content/filtered_weather_data12 (1).csv')
df13 = pd.read_csv('/content/filtered_weather_data113.csv')
df14 = pd.read_csv('/content/filtered_weather_data14 (1).csv')

In [ ]:
data = pd.concat([df1,df2],ignore_index=True)

In [ ]:
data = pd.concat([data,df3],ignore_index=True)

In [ ]:
data = pd.concat([data,df4],ignore_index=True)

In [ ]:
data = pd.concat([data,df5],ignore_index=True)

In [ ]:
data = pd.concat([data,df6],ignore_index=True)

In [ ]:
data = pd.concat([data,df7],ignore_index=True)

In [ ]:
data = pd.concat([data,df8],ignore_index=True)

In [ ]:
data = pd.concat([data,df9],ignore_index=True)

In [ ]:
data = pd.concat([data,df10],ignore_index=True)

In [ ]:
data = pd.concat([data,df11],ignore_index=True)

In [ ]:
data = pd.concat([data,df12],ignore_index=True)

In [ ]:
data = pd.concat([data,df13],ignore_index=True)

In [ ]:
data = pd.concat([data,df14],ignore_index=True)

In [ ]:
data

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,dept_pres,dept_coco,arr_temp,arr_dwpt,arr_rhum,arr_prcp,arr_wdir,arr_wspd,arr_pres,arr_coco
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,NaN,NaN,7.2,-3.4,47.0,0.0,310.0,37.1,1001.7,2.0
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,1024.0,3.0,5.0,-3.3,55.0,0.0,340.0,7.6,1024.8,2.0
2,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,1024.0,3.0,5.0,-3.3,55.0,0.0,340.0,7.6,1024.8,2.0
3,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,1009.1,2.0,27.0,13.7,44.0,0.0,221.0,6.0,1012.0,2.0
4,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,1009.1,2.0,27.0,13.7,44.0,0.0,221.0,6.0,1012.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700751,2019-06-11,Envoy Air,Envoy Air: MQ,MQ,20398,3659,SDF,"Louisville, KY",LGA,"New York, NY",...,1023.7,2.0,25.0,11.2,42.0,0.0,300.0,9.4,1013.2,3.0
700752,2020-08-28,Envoy Air,Envoy Air: MQ,MQ,20398,3423,ORD,"Chicago, IL",FNT,"Flint, MI",...,1009.4,8.0,25.5,21.4,78.0,NaN,190.0,9.4,NaN,NaN
700753,2021-08-09,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,895,DEN,"Denver, CO",ATL,"Atlanta, GA",...,1005.9,2.0,24.4,22.3,88.0,0.0,0.0,0.0,1020.3,2.0
700754,2020-12-13,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,5009,TPA,"Tampa, FL",ATL,"Atlanta, GA",...,1019.0,5.0,12.2,11.1,93.0,0.0,340.0,7.6,1018.6,5.0
700755,2023-08-24,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1974,LAX,"Los Angeles, CA",DFW,"Dallas/Fort Worth, TX",...,1013.8,5.0,39.4,19.2,31.0,0.0,190.0,7.6,1013.9,3.0

In [ ]:
data.to_csv('finaldata.csv',index=False)

In [ ]:
data.dtypes

FL_DATE               object
AIRLINE               object
AIRLINE_DOT           object
AIRLINE_CODE          object
DOT_CODE               int64
FL_NUMBER              int64
ORIGIN                object
ORIGIN_CITY           object
DEST                  object
DEST_CITY             object
CRS_DEP_TIME           int64
CRS_ARR_TIME           int64
CANCELLED            float64
DISTANCE             float64
DELAY_DUE_WEATHER    float64
origin_latitude      float64
origin_longitude     float64
DEST_latitude        float64
DEST_longitude       float64
dept_date_time        object
arr_date_time         object
dept_temp            float64
dept_dwpt            float64
dept_rhum            float64
dept_prcp            float64
dept_wdir            float64
dept_wspd            float64
dept_pres            float64
dept_coco            float64
arr_temp             float64
arr_dwpt             float64
arr_rhum             float64
arr_prcp             float64
arr_wdir             float64
arr_wspd             float64
arr_pres             float64
arr_coco             float64
dtype: object